body {
    font-family: 'Rockwell', sans-serif;
    background-image: url('../img/registerbackground.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Centrar el contenedor principal horizontalmente */
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para las secciones principales */
.registro-formulario {
    padding: 35px; /* Tamaño intermedio del padding */
    border-radius: 10px; /* Radio del borde intermedio */
    width: 550px; /* Tamaño intermedio del ancho */
    text-align: center;
}

/* Estilos para los títulos en las secciones */
.registro-formulario h1 {
    margin-bottom: 14px; /* Margen inferior intermedio */
    color: white;
    font-size: 27px; /* Tamaño de fuente intermedio */
}

/* Estilos para el formulario en una sola columna */
.registro-formulario form {
    display: grid;
    gap: 16px; /* Espacio intermedio entre campos */
    align-items: center; /* Alinea los elementos verticalmente */
}

/* Estilos para los campos de entrada en el formulario de inicio de sesión */
.registro-formulario input[type="text"],
.registro-formulario input[type="email"],
.registro-formulario input[type="password"] {
    width: 100%;
    height: 40px; /* Altura intermedia de los campos de entrada */
    padding: 10px; /* Padding intermedio */
    border: none;
    border-bottom: 1.5px solid white; /* Grosor intermedio del borde inferior */
    background-color: transparent;
    color: white;
    font-size: 15px; /* Tamaño de fuente intermedio */
    box-sizing: border-box;
    transition: border-bottom-color 0.3s ease;
}

/* Estilos para el borde y sombra al enfocar los campos */
.registro-formulario input[type="text"]:focus,
.registro-formulario input[type="email"]:focus,
.registro-formulario input[type="password"]:focus {
    border-bottom-color: #ffffff;
    outline: none;
}

/* Estilos para las etiquetas (labels) en el formulario */
.registro-formulario label {
    display: block;
    margin-bottom: 10px; /* Margen inferior intermedio */
    color: white;
    font-size: 17.5px; /* Tamaño de fuente intermedio */
    text-align: left;
}

/* Estilos para el párrafo (mensaje) en el formulario */
.registro-formulario p {
    color: white;
    font-size: 15px; /* Tamaño de fuente intermedio */
}

/* Estilos para los enlaces dentro de los párrafos en el formulario */
.registro-formulario p a {
    text-decoration: none;
    color: white;
    font-size: 17.5px;
}

/* Estilos para los botones */
.radio-buttons {
    background-color: #006DA5;
    color: #fff;
    padding: 14px 18px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    font-size: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
}

.radio-buttons:hover {
    background-color: #00578d;
}

/*------------------------------------------NAV--------------------------------------*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-logo {
    height: 75px;
    transition: transform 0.3s ease;
    padding-left: 20px;
}

.nav-logo:hover {
    transform: scale(1.2);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding-right: 100px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #bee7ff;    
}
